@import url('style.css');

ion-icon {
    height: 16px;
    width: 16px;
}

header {
    margin: 0;
    width:  100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}

header .detailBackground {
    width: 100%;
    height:  100%;
    opacity: 0.5;
    position: absolute;
}

header .detailImage {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    object-fit: cover;
}

header .logo {
    z-index: 1;
    display: flex;
    align-items: end;
    max-width: 250px;
    width: 40%;
    margin: 10px;
}

.logo img {
    width: 100%;
}

.firstInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.firstInfo .card {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
    width: 130px;
    
}
